body{
  position: relative;
  height: 100vh;
  background-color: #7ec3b0;
}

.container {
  padding: 20px; 
}

.jumbotron {
  background-color: #fff;
}

.question {
  margin-top: 20px;
  margin-bottom: 30px;
}

.nav-stacked {
  /*margin-top: 50px;*/
}

.cover {
  height: auto;
  width: 100%;
}

.gif {
  margin: 20px 0;
}

.sub-title {
  font-size: 14px !important;
  font-weight: bold !important;
}

.record {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  height: auto;
}
