body{
  position: relative;
  height: 100vh;
  background-color: #7ec3b0;
}

.container {
  padding: 20px;
}

.jumbotron {
  background-color: #fff;
}

.question {
  margin-top: 20px;
  margin-bottom: 30px;
}

.nav-stacked {
  /*margin-top: 50px;*/
}

.cover {
  height: auto;
  width: 100%;
}

.gif {
  margin: 20px 0;
}

.sub-title {
  font-size: 14px !important;
  font-weight: bold !important;
}

.record {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  height: auto;
  z-index: -1;
}

.btn-default:target,
.btn-default:focus,
.btn-default:hover ,
.btn-default:active {
  color: #fff;
  background-color: #3fb295;
  border-color: #3fb295;
}

.btn-primary {
  border-color: #3fb295;
  background-color: #3fb295;
}

.btn-primary:target,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  border-color: #318c75;
  background-color: #318c75;
}

